<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="connection.pool_size">5</property>
		
		<property name="current_session_context_class">thread</property>
		
		<!-- 同時使用兩種mapping方式不知道會不會出錯... -->
		<!-- 哀好像第一個mapping會被蓋掉 -->
		<mapping class="healthylifestyle.database.table.record.MemberProfile"/>
		<!--mapping resource="MemberProfile.hbm.xml"/-->
		<mapping class="healthylifestyle.database.table.record.EmployeeProfile"/>
		<mapping class="healthylifestyle.database.table.record.DoctorProfile"/>
		<!--mapping class="healthylifestyle.database.table.record.AvailableLanguage"/-->
		
    </session-factory>
</hibernate-configuration>
